html, body {
    margin: 0;
    padding: 0;
    
    
}
h1, h2, h3, h4, h5, h6,  div {
    margin: 0;
    padding: 0;
    
}



.bigBox {
background-color: rgb(170, 163, 163);
margin: auto;
margin-top: 100px;
width: 260px;
height: 260px;
display: flex;
background-repeat: round space;
}



.box {
    width: 60px;
    height: 60px;
    background-color: aqua;
}